html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  padding-left: 10px;
  border-radius: 4px;
  background-color: rgb(148 148 148);
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.air {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 600;
}

.info_ {
  width: 100%;
  display: flex;
  margin-top: -45px;
  gap: 3rem;
}

.button {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  gap: 1.5rem;
}

#main-introduction {
 font-size: 32px;
}

#timezone-para {
  font-size: 14px;
}

h2 {
  margin-top: 37px;
  margin-left: 10px;
  font-size: 40px;
  color: white;
}

#default_button {
  transition: transform 0.2s ease-in-out;
  background-color: white; 
  color: black; 
  padding: 10px 20px;  
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 13px;
  transform: scale(1);
}

#default_button:focus,
#default_button:hover {
  transform: scale(1.1);
}

#map_button {
  transition: transform 0.2s ease-in-out;
  background-color: white; 
  color: black; 
  padding: 10px 20px;  
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 13px;
  transform: scale(1);
}

#map_button:focus,
#map_button:hover {
  transform: scale(1.3);
}

#github-button {
  height: 40px;
  width: 40px;
}

#github-div:hover {
  scale: 1.2
}

#github-anchor {
  transition: transform 0.2s ease-in-out;
  display: inline-flex;
  transform: scale(1);
}

#github-anchor:focus,
#github-anchor:hover {
  transform: scale(1.3);
}

#hourly_title {
 display: flex;
 gap: 1rem;
}

#extra_info {
  font-size: 14px;
}

form {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

.user-input {
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 1.5rem;
align-items: flex-start;
font-size: 1.2rem;
}

 #input {
height: 2.2rem;
font-size: 1.2rem;
border-style: groove;
border-radius: 3px;
width: 350px;
}

.input_wrapper {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}
 
 .location_img {
  transition: transform 0.2s ease-in-out;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transform: scale(1);
 }

 .city-cards {
  display: flex;
  flex-direction: column;
 }

 .city-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  width: 350px;
  height: 32px;
  font-size: 20px;
  background-color: white;
  margin-left: 10px;
  margin-bottom: -4px;
  border-radius: 3px;
 }

.city-card:focus,
.city-card:hover {
  /* Styling when in focus or hovered over */
  background-color: black;
  color: white;
}

#location:focus,
#location:hover {
  transform: scale(1.3);
}
 
 .city-name {
 width: 100%;
 padding-top: 6px;
 border-bottom: solid;
 }
 
 #isTyping {
  font-size: 20px;
  margin-top: 10px;
 }

.weathercode-icon {
  width: 110px;
  height: 110px;
}

.hourcode-icon {
  width: 110px;
  height: 110px;
}

.current-conditions {
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
}

#weathercode_current_text {
  font-size: 18px;
}

.current_windspeed_icon {
  height: 90px;
  width: 90px;
}

#current-video {
  margin-top: 0px;
}

#my-video {
  margin-left: -5px;
  border-radius: 8px;
  width: 100%;
  height: 300px;
  object-fit: fill;
}

#current-temp {
  padding-right: 5px;
  scale: 2.5;
}

.child {
  font-size: 18px;
  display: flex;
  align-items: center
}

#child_current_weathercode {
  flex-direction: column;
}

#child_current_weathercode > p {
  margin-top: -20px;
}

#child_today_weathercode {
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 300px;
}

#child_today_minmax {
  font-size: 24px;
  font-weight: 600;
}

#child_today_date {
  font-size: 26px;
}

#child_today_weathercode > p {
  margin-top: -20px;
}

#child_tomorow_weathercode {
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 300px;
}

#child_tomorow_weathercode > p {
  margin-top: -20px;
}

#child_tomorow_minmax {
  font-size: 24px;
  font-weight: 600;
}

#child_tomorow_date {
  font-size: 26px;
}

#child_twodays_weathercode {
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 300px;
}

#child_twodays_weathercode > p {
  margin-top: -20px;
}

#child_twodays_minmax {
  font-size: 24px;
  font-weight: 600;
}

#child_twodays_date {
  font-size: 26px;
}

.today_windspeed_icon {
width: 90px;
}

.tomorow_windspeed_icon {
  width: 90px;
}

.twodays_windspeed_icon {
  width: 90px;
}

.forecast {
  padding-left: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
}

#today_one {
  justify-content: flex-start;
  align-items: end;
  font-weight: 600;
  color: white;
}

#today_two {
  color: white;
  margin-top: 35px;
  border-bottom-style: solid;
}

#tomorow_one {
  justify-content: flex-start;
  align-items: end;
  font-weight: 600;
  color: white;
}

#tomorow_two {
  color: white;
  margin-top: 35px;
  border-bottom-style: solid;
}

#twodays_one {
  justify-content: flex-start;
  align-items: end;
  font-weight: 600;
  color: white;
}

#twodays_two {
  color: white;
  margin-top: 35px;
  border-bottom-style: solid;
}

.hourly-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: white;
  width: 100%;
}

.hour {
  height: 70px;
  width: 100%;
}

.childhour {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.hourly_info {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  margin-left: 5px;
}

.hourly_info_child {
  width: 80px;
  height: 100%;
}

.hour-children {
  margin-left: 5px;
  font-size: 20px;
  width: 80px;
  height: 100%;
}

#hour-children-temp {
  font-size: 30px;
}
/* Mobile devices styling below */
@media only screen and (max-width: 900px) {
body {
  min-width: 900px;
}

#main-introduction {
  margin-top: 15px
}

.current-conditions {
  gap: 4rem;
}

.weathercode-icon {
  width: 200px;
  height: 200px;
}


.button {
  margin-top: 15px;
}

#default_button {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

#default_button:focus,
#default_button:hover {
  transform: scale(1);
}

#default_button:active {
  transform: scale(0.8);
}

#map_button {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

#map_button:focus,
#map_button:hover {
  transform: scale(1);
}

#map_button:active {
  transform: scale(0.8);
}

#github-anchor {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

#github-div:hover {
  scale: 1
}

#github-anchor:focus,
#github-anchor:hover {
  transform: scale(1);
}

#github-anchor:active {
  transform: scale(0.8);
}

#location {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

#location:focus,
#location:hover {
  transform: scale(1);
}

#location:active {
  transform: scale(0.8);
}

}

@media only screen and (max-width: 450px) {
  body {
    min-width: 900px;
  }

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

#main-introduction {
  font-size: 70px;
}

#timezone-para {
  font-size: 30px;
}

.air {
  font-size: 24px;
  margin-top: -40px;
}

#default_button {
  font-size: 35px;
  border-radius: 40px;
  height: 85px;
 }

#map_button {
 font-size: 35px;
 border-radius: 40px;
  height: 85px;
}

#github-button {
  height: 85px;
  width: 85px;
}

.user-input {
  margin-top: 60px;
  font-size: 50px;
}

#input {
  height: 5rem;
  width: 650px;
  font-size: 35px;
  border-radius: 4px;
}

.location_img {
  padding-left: 20px;
  height: 65px;
  width: 65px;
}

.city-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  width: 610px;
  font-size: 35px;
  height: 70px;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
 }

 #isTyping {
  font-size: 35px;
 }

.current-conditions {
  gap: 3rem;
}

.current_windspeed_icon {
  height: 130px;
  width: 130px;
}


 .current_text_child {
  font-size: 28px;
 }

 #weathercode_current_text {
  font-size: 30px;
  font-weight: 600;
 }

 #today-date {
  font-size: 40px;
 }

 #tomorow-date {
  font-size: 40px;
 }

 #last-date {
  font-size: 40px;
 }

 #child_today_minmax {
  font-size: 35px;
 }

 #child_tomorow_minmax {
  font-size: 35px;
 }

 #child_twodays_minmax {
  font-size: 35px;
 }

 #today_two {
  gap: 4rem;
 }

 #tomorow_two {
  gap: 4rem;
 }

 #twodays_two {
  gap: 4rem;
 }

 .child {
  font-size: 30px;
 }

 .today_windspeed_icon {
  width: 120px;
  height: 120px;
 }

 .tomorow_windspeed_icon {
  width: 120px;
  height: 120px;
 }

 .twodays_windspeed_icon {
  width: 120px;
  height: 120px;
 }

 .hourly-box {
  gap: 2rem;
 }

 .hourly_info {
  gap: 3.5rem;
  font-size: 20px;
 }

 .hour-children {
  font-size: 25px;
 }

}
